footer {
    background-color: #f5eedc;
}

div.um img {
    width: 4vw;
    margin: 5px 0 0 0;
}

div.um {
    display: flex;
    justify-content: center;
}

div.dois ul {
    display: flex;
    justify-content: space-around;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 1vw 0 0 0;
}

footer p img {
    width: 5vw;
}

body {
    background-color: #d6b07d;
}

div.primeira {
    background-color: #e69e85;
    margin: 40px 40px 0 40px;
    border-radius: 20px 20px 0 0;
    background: #f5eedc;
}

header h1 {
    font-size: 5.5rem;
    text-align: center;
    color: #9b6240;
    font-weight: bold;
    padding: 20px;
    text-shadow: #a07e6a 4px 3px 6px;
}

header ul {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

header a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #9b6240;
    font-weight: bold;
}

section div.titulo {
    color: #9b6240;
    font-size: 3rem;
    font-weight: bold;
    margin:  0 0 0 3rem;
}

section div.tudo {
    justify-content: space-between;
    display: flex;
    background-color: #f5eedc;
    margin: 0 40px 0 40px;
    padding: 30px;
}

section div.descubra {
    font-size: 2vw;
    text-align: center;
    color: #9b6240;
    background: #f5eedc;
    margin: 0 40px 0 40px;
}

section div.agua {
    background: #f5eedc;
    margin: 0 40px 0 40px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.3rem;
}

section div.agua h5 {
    color: #9b6240;
}

section div.manga {
    background: #f5eedc;
    margin: 0 40px 0 40px;
}

section div.manga ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section div.manga ul li {
    margin: 0 5rem 0 0;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
}

section div.manga ul li h5 {
    color: #9b6240;

}
section div.comer {
    background: #f5eedc;
    margin: 0 40px 0 40px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 1.3rem;
}

section div.comer h5 {
    color: #9b6240;
}
section div.casca {
    background: #f5eedc;
    margin: 0 40px 0 40px;
}

section div.casca ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section div.casca ul li {
    margin:0 5rem 0 0;
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
}

section div.casca ul li h5 {
    color: #9b6240;

}
section div.cenoura {
    background: #f5eedc;
    margin: 0 40px 40px 40px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 4rem;
    border-radius:0 0 20px 20px;
}

section div.cenoura h5 {
    color: #9b6240;
}