body{
    background-color: #a0ced9;
}

header {
    background-color: #effffe;
    margin: 3vw 5vw;
    border-radius: 20px 20px;
}

header h1 {
    font-size: 5.5rem;
    font-weight: bold;
    color: #2e6393;
    text-shadow: #223a4e 4px 3px 6px;
    text-align: center;
    padding: 20px;
}

header ul{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 60px 50px;
}

header a{
    text-decoration: none;
    color: #2e6393;
    font-size: 1.4rem;
    font-weight: bold;
}

.texto{
    background-color: #effffe;
    margin: 3vw 5vw;
    border-radius: 20px 20px;
}
.textoBotao{
    background-color: #effffe;
    margin: 3vw 5vw;
    border-radius: 20px 20px;
    padding-bottom: 1vw;
}

.texto p{
    font-size: 1.8rem;
    font-weight: bold;
    padding: 3vw 3vw ;
    color: #2e6393;
    line-height: 2vw;
}
.textoBotao p{
    font-size: 1.8rem;
    font-weight: bold;
    padding: 3vw 3vw 0 3vw;
    color: #2e6393;
    line-height: 2vw;
}

.imagens{
    background-color: #effffe;
    margin: 3vw 5vw;
    border-radius: 20px 20px;
}
.imagens img{
    width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 4vw;
}
.tresFotos ul{
    display: flex;
    justify-content: space-around;
    
}
.duasFotos ul{
    display: flex;
    justify-content: space-evenly;
    
}
.imagens p{
    font-size: 1.8rem;
    font-weight: bold;
    color: #2e6393;
    text-align: center;
}
.duasFotos p{
    padding: 2vw;
}
.atas a{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #effffe;
    background-color: #2e6393;
    padding: 1vw 3vw;
    margin: 1vw 20vw;
    text-decoration: none;
    border-radius: 20px;
}

/*footer*/

footer{
    background-color: #effffe;
}

div.um img{
width: 4vw;
margin: 5px 0 0 0;
}

div.um{
    display: flex;
    justify-content: center;
}

div.dois ul{
    display: flex;
    justify-content: space-around;
}

footer p{
    display: flex;
    justify-content: center;
    margin: 1vw 0 0 0; 
}

footer p img{
    width: 5vw;
}

@media only screen and (max-width: 600px) {

    
    header h1{
        font-size: 2.9rem;
        padding: 20px 0 0 10px;
    }
    header a{
        font-size: 0.6rem;
    }
    header ul{
        padding: 15px 18px 20px 18px;
        display: flex;
        flex-wrap: wrap;
    }
    .texto p{
        line-height: 17px;
        font-size: 1.1rem;
    }

    .textoBotao p{
        line-height: 17px;
        font-size: 1.1rem;
    }

    .tresFotos ul, .duasFotos ul{
        display: block;
        margin: 3vw;
        text-align: center;
        padding: 2vw;
    }
    .imagens img{
        width: 150px;
        height: 150px;
    }
    .imagens p{
        font-size: 1.2rem;
    }
    footer p{
        font-size: 0.9rem;
    }
    footer p img, div.um img{
        width: 10vw;
    }

    .atas a{
        font-size: 0.8rem;
        margin: 2vw 17vw;
    }
}