body{
    background-color: #427662;
    margin: 20px;
}
header{
    background-color: #f5eedc;
}
section main{
    background-color: #f5eedc;
}
header h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #427662;
    text-align: center;
    padding: 3vw;
    text-shadow: #214235 4px 3px 6px;
}
header a{
    text-decoration: none;
    color: #448169;
    font-weight: bold;
}
header ul{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
header nav{
    padding: 15px;
}
section p{
    padding: 15px;
}