.primeira{
    background-color: #edd084;
    margin: 40px 40px 0 40px;
    border-radius: 20px 20px 0 0;
}
div.segundo{
    background-color: #edd084;
    margin: 0px 40px 0px 40px;
    border-radius: 0px 0 20px 20px;
    display: flex;
    gap: 20px;
}
body{
    background-color: #f5eedc;
}
header h1{
    font-size: 4.7rem;
    text-align: center;
    color: #ca3241;
    font-weight: bold;
    padding: 20px;
    text-shadow: #864a50 4px 3px 6px;
}
header ul{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
header a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #ca3241;
    font-weight: bold;
}
.segundo p{
    font-size: 1.9rem;
    line-height: 30px;
    padding: 20px 20px 15px 20px;
    font-weight: bold;
    color: #443610;
    margin: 2vw;
    width: 50vw;
}
.terceiro p{
    font-size: 1.9rem;
    line-height: 30px;
    padding: 20px 20px 15px 20px;
    font-weight: bold;
    color: #443610;
    margin: 2vw;
    width: 50vw;
}

section img{
    width: 35vw;
    height: 25vw;
    padding: 20px;
}
div.terceiro{
    display: flex;

}
section iframe{
    margin: 2vw;
    border-radius: 20px;
}
.ultimo p{
font-size: 1.9rem;
font-weight: bold;
line-height: 30px;
color: #443610;
padding: 0 4vw 3vw 4vw;
}

footer{
    background-color: #edd084;
}

div.um img{
width: 4vw;
margin: 5px 0 0 0;
}

div.um{
    display: flex;
    justify-content: center;
}

div.dois ul{
    display: flex;
    justify-content: space-around;
}

footer p{
    display: flex;
    justify-content: center;
    margin: 1vw 0 0 0; 
}

footer p img{
    width: 5vw;
}