body{
    background-color: #78bca1;
}
header{
    background-color: #edfff8;
    margin: 5vw 5vw 0 5vw;
    border-radius: 20px 20px 0 0;
}
header h1{
    font-size: 4.5rem;
    font-weight: bold;
    color: #427662;
    text-align: center;
}
header ul{
    display: flex;
    gap: 40px;
    justify-content: center;
}
header a{
    text-decoration: none;
    color: #427662;
}
section.primeira{
    background-color: #edfff8;
    margin: 0 5vw 5vw 5vw;
    border-radius: 0 0 20px 20px;
}
section.segunda{
    background-color: #edfff8;
    border-radius: 20px;
    margin: 5vw;
}
section.primeira p{
    font-weight: bold;
}
footer{
    background-color: #78bca1;
}

div.um img{
width: 4vw;
margin: 5px 0 0 0;
}

div.um{
    display: flex;
    justify-content: center;
}

div.dois ul{
    display: flex;
    justify-content: space-around;
}

footer p{
    display: flex;
    justify-content: center;
    margin: 1vw 0 0 0; 
}

footer p img{
    width: 5vw;
}