body {
    background-color: #f5eedc;
}

.container {
  display: flex;         
  justify-content: space-between;
  align-items: flex-start; 
}

section ul {
    display: flex;
    flex-wrap: wrap;
}

section ul li {
    width: 23vw;
    height: auto;
    text-align: center;
}

section a{
    color: #427662;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

section ul li img {
    width: 65%;
    transition: width 3s;
}

section ul li:hover img {
    width: 80%;
    transition: width 1s;
}

ul.esquerda{
    display: flex;   
    flex-direction: column;
   align-items: flex-start;
   margin-top: 2vw;
}

ul.direita{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   margin-top: 2vw;
}
.auto{
    display: flex;
    flex-direction: column;
}
ul.cima{
display: flex;
    justify-content: space-around;-
}

section h1{
    width: 50%;
    justify-content: center;
    margin: 7vw;
    color: #427662;
    font-size: 5rem;
    font-weight: bold;
    margin-left: 15vw;
}

