body{
    background-color: #f5eedc;
}
section h2{
  font-family: initial;
  font-weight: bold;
  font-style: normal;
  font-size: 5rem;
  text-align: center;
  padding: 3vw;
  color: #427662;
   text-shadow: #214235 4px 3px 6px;
}
section div{
    text-align: center;
}
section img{
    width: 40vw;
    height: 25vw;
}
section h3{
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #427662;
}
section a{
    background-color: #f8cd6d;
    color: #f5eedc;
    font-size: 1.0rem;
    border-radius: 9px;
    border: none;
    padding: 9px 17px 9px 17px;
    font-weight: bold;
    text-decoration: none;
}
section p{
    text-align: center;
    padding: 17px;
}