body{
    background-color: #78bca1;
}
header{
    background-color: #edfff8;
    margin: 5vw 5vw 0 5vw;
    border-radius: 20px 20px 0 0;
}
header h1{
    font-size: 4.5rem;
    font-weight: bold;
    color: #427662;
    text-align: center;
    padding: 20px;
}
header ul{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}
header a{
    text-decoration: none;
    color: #427662;
    font-size: 1.4rem;
    font-weight: bold;
}
section.primeira{
    background-color: #edfff8;
    margin: 0 5vw 5vw 5vw;
    border-radius: 0 0 20px 20px;
}
section.segunda{
    background-color: #edfff8;
    border-radius: 20px;
    margin: 5vw;
}
section.primeira li{
    font-weight: bold;
    font-size: 1.4rem;
}
section.primeira h2{
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #427662;
}
section.primeiro div.um{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
section.primeira div.um img{
width: 480px;
height: 490px;
padding: 30px 30px 30px 0;
margin: 20px;
}
section.primeira div.um ol li{
line-height: 1.5vw;
padding: 30px;
margin: 20px;
}
footer{
    background-color: #78bca1;
}
div.um img{
width: 4vw;
margin: 5px 0 0 0;
}

div.um{
    display: flex;
    justify-content: center;
}

div.dois ul{
    display: flex;
    justify-content: space-around;
}

footer p{
    display: flex;
    justify-content: center;
    margin: 1vw 0 0 0; 
}

footer p img{
    width: 5vw;
}