body {
    background-color: #f5eedc;
}

header {
    background-color: #e69e85;
    margin: 3vw 5vw;
    border-radius: 20px 20px;
}

header h1 {
    font-size: 5.5rem;
    font-weight: bold;
    color: #f5eedc;
    text-shadow: #a04729 4px 3px 6px;
    text-align: center;
    padding: 20px;
}

header ul{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 60px 50px;
}

header a{
    text-decoration: none;
    color: #f5eedc;
    font-size: 1.4rem;
    font-weight: bold;
}


section.texto {
    background-color: #e69e85;
    margin: 3vw 5vw 0 5vw;
    border-radius: 20px 20px 0 0;
}

.texto p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2vw 3vw 2vw 3vw;
    color: #f5eedc;
}

.texImg {
    display: flex;
    background-color: #e69e85;
    margin: 0 5vw;
}

.texDireita h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #f5eedc;
    text-shadow: #a04729 4px 3px 6px;
    padding: 0vw 3vw 0 3vw;
}


.texDireita p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3vw 3vw 0 3vw;
    color: #f5eedc;
    display: block;
    width: 70%;
}
.texImg img{
    width: 400px;
    padding: 0vw 5vw 2vw 5vw ;
}

/*conteudo*/

.conteudo{
    background-color: #e69e85;
    margin: 0vw 5vw 0vw 5vw;
    text-align: center;
    border-radius: 0 0 20px 20px;
    overflow: auto;
}

.conteudo h2{
    font-size: 2rem;
    font-weight: bold;
    color: #f5eedc;
    text-shadow: #a04729 4px 3px 6px;
    padding: 1vw 3vw 0 3vw;
}

.conteudo p{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1vw 3vw 0 3vw;
    line-height: 30px;
    color: #f5eedc;
    display: block;
    text-align: left;
}

.conteudo ul li{
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1.0rem;
    padding: 1vw 3vw 0 3vw;
    font-weight: bold;
    color: #f5eedc;
    text-align: left;
}

.conteudo div.refPiramide{
    font-weight: bold;
    text-shadow: #a04729 1px 1px 1px;
    font-size: 1.57em;
    background-color: #f5eedc;
    padding: 10px 90px;
    border: none;
    margin: 2vw auto;
    width: fit-content;
}
.conteudo a{
    text-decoration: none;
    color: #e69e85;
}

/*piramide*/

.piramide{
    background-color: #e69e85;
    margin: 4vw 5vw 4vw 5vw;
    text-align: center;
    border-radius: 20px 20px;
    display: flex;
    justify-content: space-around;
}

.piramide ul li{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1vw 3vw 1vw 3vw;
    line-height: 30px;
    color: #f5eedc;
    display: block;
    width: 70%;
    text-align: left;
}

/*footer*/

footer{
    background-color: #e69e85;
}

div.um img {
    width: 4vw;
    margin: 5px 0 0 0;
}

div.um {
    display: flex;
    justify-content: center;
}

div.dois ul {
    display: flex;
    justify-content: space-around;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 1vw 0 0 0;
}

footer img{
    width: 5vw;
}